$color0: {{.Colors.Hex.0}};
$color1: {{.Colors.Hex.1}};
$color2: {{.Colors.Hex.2}};
$color3: {{.Colors.Hex.3}};
$color4: {{.Colors.Hex.4}};
$color5: {{.Colors.Hex.5}};
$color6: {{.Colors.Hex.6}};
$color7: {{.Colors.Hex.7}};
$color8: {{.Colors.Hex.8}};
$color9: {{.Colors.Hex.9}};
$color10: {{.Colors.Hex.10}};
$color11: {{.Colors.Hex.11}};
$color12: {{.Colors.Hex.12}};
$color13: {{.Colors.Hex.13}};
$color14: {{.Colors.Hex.14}};
$color15: {{.Colors.Hex.15}};

$background: {{.Special.Hex.Background}};
$foreground: {{.Special.Hex.Foreground}};
$accent: {{.Special.Hex.Accent}};

