/* Basic wallust colors */
@define-color background #0B0B0B;
@define-color foreground #B2B2B2;
@define-color background-alt #3A3A3B;
@define-color primary #D17540;

/* Material Design 3 color mappings */
@define-color surface_container_low #3A3A3B;
@define-color surface_container #3A3A3B;
@define-color surface_container_high #562B2B;
@define-color outline_variant #898989;
@define-color error #D17540;
@define-color on_error #0B0B0B;
@define-color surface #0B0B0B;
@define-color on_surface #B2B2B2;
@define-color primary_container #D17540;
@define-color on_primary #0B0B0B;
@define-color secondary #6C3547;
@define-color secondary_container #6C3547;
@define-color tertiary #698DD5;
@define-color border_color #562B2B;