
//@theme "/usr/share/rofi/themes/sidebar.rasi"

//@theme "/usr/share/rofi/themes/fancy.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

//@theme "/usr/share/rofi/themes/docu.rasi"

//@theme "/usr/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/usr/share/rofi/themes/launchpad.rasi"

//@theme "/usr/share/rofi/themes/windows11-list-dark.rasi"

//@theme "/usr/share/rofi/themes/launchpad.rasi"

//@theme "/usr/share/rofi/themes/windows11-list-dark.rasi"

//@theme "/usr/share/rofi/themes/launchpad.rasi"

//@theme "/usr/share/rofi/themes/windows11-grid-dark.rasi"

//@theme "/usr/share/rofi/themes/squared-nord.rasi"

//@theme "/usr/share/rofi/themes/windows11-grid-dark.rasi"

//@theme "/usr/share/rofi/themes/squared-nord.rasi"

//@theme "/usr/share/rofi/themes/squared-everforest.rasi"

//@theme "/usr/share/rofi/themes/Adapta-Nokto.rasi"

//@theme "/usr/share/rofi/themes/rounded-blue-dark.rasi"

//@theme "/usr/share/rofi/themes/rounded-gray-dark.rasi"

//@theme "/usr/share/rofi/themes/windows11-grid-dark.rasi"

//@theme "/usr/share/rofi/themes/spotlight-dark.rasi"

//@theme "/usr/share/rofi/themes/squared-material-red.rasi"

//@theme "/usr/share/rofi/themes/rounded-nord-dark.rasi"

//@theme "/usr/share/rofi/themes/spotlight-dark.rasi"

//@theme "/usr/share/rofi/themes/rounded-gray-dark.rasi"

//@theme "/usr/share/rofi/themes/rounded-gray-dark.rasi"

//@theme "/usr/share/rofi/themes/Adapta-Nokto.rasi"

//@theme "/usr/share/rofi/themes/spotlight-dark.rasi"

//@theme "/usr/share/rofi/themes/windows11-grid-dark.rasi"

//@theme "/usr/share/rofi/themes/rounded-gray-dark.rasi"

//@theme "/usr/share/rofi/themes/squared-nord.rasi"

//@theme "/usr/share/rofi/themes/material.rasi"

//@theme "/usr/share/rofi/themes/iggy.rasi"

//@theme "/usr/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/usr/share/rofi/themes/rounded-gray-dark.rasi"

//@theme "/usr/share/rofi/themes/launchpad.rasi"

//@theme "/usr/share/rofi/themes/rounded-gray-dark.rasi"

//@theme "/usr/share/rofi/themes/rounded-gray-dark.rasi"

//@theme "/home/mution/.local/share/rofi/themes/rounded-gray-dark.rasi"

//@theme "/home/mution/.local/share/rofi/themes/launchpad.rasi"

//@theme "/home/mution/.local/share/rofi/themes/squared-material-red.rasi"

//@theme "/home/mution/.local/share/rofi/themes/launchpad.rasi"

@theme "/home/mution/.local/share/rofi/themes/squared-nord.rasi"
