window {
    background-color: @base;
    border-radius: 8px;
    border: 2px solid @primary;
}

#input {
    background-color: @surface;
    color: @on-surface;
}

#entry {
    padding: 10px;
    background-color: transparent;
    color: @on-surface;
}

#entry:selected {
    background-color: @primary;
    color: @on-primary;
}

